# SPDX-FileCopyrightText: 2020 Peter Bittner <django@bittner.it>
#
# SPDX-License-Identifier: GPL-3.0-or-later

name: Publish

on:
  push:
    tags:
    - '*'

env:
  PIP_DISABLE_PIP_VERSION_CHECK: '1'
  PY_COLORS: '1'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: '3.13'
    - name: Install build tools
      run: pip install tox
    - name: Verify package version is same as Git tag
      run: tox run -qe ensure_version_matches -- $GIT_TAG
      env:
        GIT_TAG: ${{ github.ref_name }}
    - name: Build package and upload to PyPI
      run: tox run -e package -- upload
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
